* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100%;
  width: 100vw;
  background: #eee;
  padding: 0 16px;
}

header {
  width: 100vw;
  background-color: #00afef;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'McLaren', cursive;
  font-weight: 200;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1,
.note input {
  font-size: 1em;
  margin-bottom: 6px;
  border: none;
}

.note textarea {
  width: 100%;
  overflow: visible;
  font-family: inherit;
  font-size: 1em;
  margin-bottom: 10px;
  border: none;
  resize: vertical;
  outline: none;
}

.note button {
  border-radius: 7px;
  position: relative;
  float: right;
  margin-right: 10px;
  color: #e2200e;
  border: none;
  width: 5rem;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -25px;
}

.listsArea {
  margin: 1rem auto auto;
  padding: 0.5rem;
  width: 65%;
  min-height: 80px;
  height: 100%;
}

.listsArea h3 {
  display: block;
  float: left;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.lists {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background: #fff;
  border: none;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  cursor: pointer;
}

.lists input {
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}
.button {
  margin: 0.5rem;
  padding: 0.5rem;
  background: #00afef;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.listDelete {
  background: #e2200e;
}

.newListBlock {
  position: relative;
  width: 320px;
  margin: 30px auto 20px auto;
}
