.app {
  text-align: center;
}

.top {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.dataSets input {
  margin: 0 10px 0;
}

.right {
  margin-left: auto;
}
