.app {
  text-align: center;
  padding: 0rem 0 3rem;
}

.wrapper {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

input,
label {
  margin: 7px;
}

.right {
  margin-left: auto;
}
